.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  color: var(--accent-color);
  font-family: Inter, sans-serif;
  font-weight: var(--font-weight-regular);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.element-width {
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
  border: solid 2px var(--accent-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
  font-family: PressStart2P, sans-serif;
  font-weight: var(--font-weight-regular);
  background-color: var(--bg-color);
}

.header__title {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
}

.header__subtitle {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.theme-menu__item:first-child {
  margin-inline-start: clamp(0.25rem, 0.338rem + -0.3756vw, 0rem);
}

.theme-menu__item:nth-child(2n) {
  margin-inline-end: 5px;
}

.theme-menu__item:last-child {
  margin-inline-start: calc(14px + clamp(0.25rem, 0.338rem + -0.3756vw, 0rem));
}

.theme-menu__button {
  position: relative;
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 60%;
  cursor: default;
}
.theme-menu__button:disabled::after {
  content: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  font-family: inherit;
  animation: move 1s ease-in-out infinite;
  block-size: 14px;
  inline-size: 14px;
  inset-inline-start: -21px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 1px solid var(--accent-color);
  background-color: var(--bg-color);
}
.card__title {
  padding: 4px 10px 3px 10px;
  font-family: Inter, sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 18px;
  line-height: 1.27;
}

.card__image-container {
  position: relative;
  border-block-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inline-size: 100%;
}

.card__image-logo {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: PressStart2P, sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 1;
  text-shadow: 0 0 2px var(--bg-color);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__image-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1;
}

/*28px - mobile*/
/*32px - desktop*/
.card__text {
  padding: 
    clamp(1.75rem, 1.662rem + 0.3756vw, 2rem)
    27px 
    calc(18px - clamp(0.125rem, 0.169rem + -0.1878vw, 0rem)) 
    25px;
}

.card__text p {
  font-family: Inter, sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 1.16;
}

.card__text p:last-child {
  margin-block-start: 28px;
}

.card__like-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin: 0 25px 18px 0;
}

.card__icon-button {
  padding-top: 9px;
  padding-bottom: 5px;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 7px 35px;
  transition: box-shadow 0.5s ease;
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.button__text {
  position: relative;
  inset: 0;
  z-index: 1;
  color: var(--accent-color);
  color: var(--like-button_color);
  font-family: PressStart2P, sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.dialog-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 100%;
  margin: 0 auto;
  margin-block-start: clamp(3.25rem, 3.294rem + -0.1878vw, 3.125rem);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.dialog-button__icon {
  width: 21px;
  height: 21px;
  margin: 15px 0 15px 19px;
  color: var(--accent-color);
  fill: currentColor;
}

.dialog-button__text {
  padding-right: 21px;
  font-family: PressStart2P, sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 0.9;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  margin: auto;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--bg-color);
  row-gap: 30px;
  column-gap: 20px;
  /*28px - desktop*/
  /*28px 40px - mobile*/
  padding: 28px;
  fill: currentColor;
  min-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog__icon {
  width: 39px;
  height: 39px;
  align-self: center;
}

.dialog__text {
  font-family: PressStart2P;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 1.5;
}

.dialog__close-button {
  grid-column: span 2;
  font-family: PressStart2P;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 0.9;
  border: 2px solid var(--accent-color);
  padding: 12.5px 0;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  .dialog-button {
    flex-direction: column;
    gap: 9px;
  }

  .dialog-button__icon {
    margin-block-end: 0;
    margin-inline-start: 0;
    width: 28px;
    height: 28px;
  }

  .dialog-button__text {
    padding: 0 20px 18px;
  }

  .dialog[open] {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
}
