:root {
  --font-weight-regular: 400;
  --font-weight-title: 700;

  --bg-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);

  --bg-image: 
    repeating-linear-gradient(
      to right, #d3d3d3 0, transparent 2px 
    ),
    repeating-linear-gradient(
      to bottom, #d3d3d3 0, transparent 2px 
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}